@font-face {
    font-family: 'KhmerOSBattambang';
    src: url('../fonts/KhmerOSBattambang.ttf') format('truetype');
}
@font-face {
  font-family: 'KHMERMEF1';
  src:  url('../fonts/KHMERMEF1.woff') format('truetype');
}
@font-face {
  font-family: 'KHMERMEF2';
  src:  url('../fonts/KHMERMEF2.woff') format('truetype');
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow:auto;
   	font-family: 'KHMERMEF1';
}
table.spacing{
    border-spacing: 10px;
  border-collapse: unset;
}

.panel-title{
    font-weight: bold;
}
.waiting-data{
    font-size: 75px;
}
.display-none{
    display: none;
}
#header-container{
    line-height: 60px;
    background:#0b654a;
    padding: 5px 0;
    color: white;
    border-top: 1px solid white;
    border-bottom: 2px solid #e3db00;
}

.title-kh{
	color:#ffffff;
	margin-top: -13px;
    margin-left: 10px;
	font-size:16px;
	font-family: 'KHMERMEF2';
	font-weight:lighter;
	
}
.title-en {
    color: #ffffff;
    font-size: 12px;
    font-family: 'KHMERMEF2';
    font-weight: lighter;
    float: left;
    text-transform: uppercase;
    margin-top: -10px;
    margin-left: 10px;
}

.padding-right0{
    padding-right: 0px;
}
.padding-right15{
    padding-right: 15px;
}
.padding-left-right0{
    padding-left: 0px;
    padding-right: 0px;
}

.container-new{
    padding-top: 15px;
}

select:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus {
    border-radius: 3px !important;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
}

select, input[type=text], input[type=password], input[type=email], input[type=number]{
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    padding: 0px 10px;
    border-radius: 3px !important;
	font-family:'KHMERMEF1';
}

.jqx-widget-bootstrap, .jqx-widget-header-bootstrap, .jqx-fill-state-normal-bootstrap, .jqx-widget-content-bootstrap, .jqx-fill-state-hover-bootstrap, .jqx-fill-state-pressed-bootstrap{
	font-family:'KHMERMEF1';
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.jqx-notification-container{
    z-index: 999999;
}
.btl-bold{
    font-weight: bold;
}
.alert-top{
    margin-top: 15px;
}
.panel-heading{
    margin: 0px;
    padding:6px 0;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
label{
    font-style: normal;
    font-weight: normal;
}
.tree-grid-panel{
    line-height: 40px;
    margin-right:10px;
}
.panel,.panel-default{
    padding: 0px 0px 0 0px;
    display: block;
}
.moef-white-space{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.red-star{
    color:red;
    font-size:12px;
    font-family: 'KHMERMEF1';
}
.title-header-panel{
    color: #0c0c0c;
    font-family: KhmerOSBattambang;
    font-size: 14px;
    height: 25px;
    line-height: 35px;
    margin-left: 2px;
    margin-top: 0px;
    white-space: nowrap;
}

.img-user{
    width: 80px;
    height:70px;
    border: 1px solid #DDDDDD;
}
.wrap-avatar{
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
.remove-avatar{
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

.custome-panel-headering{
    background-color: #E8E8E8;
    margin: -1px auto;
    border-radius:3px;
}
.footer-developed{
    color: darkgrey;
    font-size: 12px;
    line-height: 22px;
    background-color: floralwhite;
    position: fixed;
    width: 100%;
    padding: 8px 0;
    font-family: 'KhmerOSBattambang';
}
.khmer-font-header{
    font-family: "KHMERMEF2";
    font-size:22px;
    font-weight:400;
}

.ptext-1 {
    font-family: 'KHMERMEF1';
    font-size: 12px;
}

.tr-1{
    text-align:left;
}

#panelContentpaneljqxTree>.jqx-tree-dropdown-root{
    font-family: 'KHMERMEF1';
    font-size: 14px;
}
.glyphicon-log-out{
    color: white;
}
.jqx-validator-hint{
    height: 30px;
    padding-top: 4px;
	font-family: 'KHMERMEF1';
}
.flash-notification-message{
    font-family: 'KHMERMEF1';
    color: red;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
}
.disabled{
    pointer-events: none;
}

button.jqx-button, input[type=button].jqx-button, input[type=submit].jqx-button{
	font-family: 'KHMERMEF1';
}
.jqx-grid-column-header-bootstrap{
	line-height:20px;
	font-family: 'KHMERMEF1';
}
.jqx-widget-bootstrap, .jqx-grid-cell-bootstrap, .jqx-widget-bootstrap, .jqx-widget-bootstrap .jqx-grid-group-cell{
	line-height:20px;
	font-family: 'KHMERMEF1';
}

.jqx-item div{
	overflow:visible !important;
	font-family: 'KHMERMEF1';
}
.jqx-grid-group-cell:hover{
	font-family: 'KHMERMEF1';
}

.jqx-cell-bootstrap,.jqx-listitem-state-normal,.jqx-tree-item-selected-bootstrap,.jqx-widget-content,.jqx-tree-item-hover-bootstrap{
	font-family: 'KHMERMEF1';
}
.jqx-grid-cell,.jqx-grid-cell-bootstrap > div{
	line-height:27px;
}

.jqx-input-content,.jqx-combobox-multi-item a:link, .jqx-combobox-multi-item a:visited{
	font-family: 'KHMERMEF1';
}
.jqx-chart-label-text, .jqx-chart-tooltip-text{
	font-family: 'KHMERMEF1';
	font-size:13px;
}
.jqx-notification-warning, .jqx-warning,.jqx-notification-success, .jqx-success{
	font-family: 'KHMERMEF1';
	font-size:20px;
	z-index: 999 !important;
}
#jqxScrollThumbpaneljqxTreeverticalScrollBar,#jqxScrollBtnUppaneljqxTreeverticalScrollBar,#jqxScrollWrappaneljqxTreeverticalScrollBar{
    width: 11px !important;
    left:1px !important;
}
.jqx-scrollbar-state-normal{
    /*padding: 2px !important;*/
}

.button-color
    {
        border: none;
        background-color: #00a65a !important;
        background-image: none !important;
        width: 80px;
        height: 36px;
        padding: 8px;
    }
.button-color:hover
    {
         background-image: none !important;
        background-color: #048c4e !important;
    }